<style>
    .ma-slide {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
}

.ma-top {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #fff;
    color: #000;
    font-size: 12px;
}

.ma-top svg {
    width: 20px;
    height: 20px;
}

.ma-bottom {
    padding: 12px;
    font-size: 14px;
}

span.right-offer {
    margin-left: auto !important;
    margin-right: 0;
    align-self: flex-end;
}


.ma-top span {
    margin-left: 10px;
    font-size: 10px;
    max-width: 210px;
}
.ma-link {
    text-decoration: none;
    padding: 3px 15px;
    background: #64112f;
    border-radius: 20px;
    margin-right: 0;
    margin-left: auto !important;
    color: #fff;
    display: flex;
    align-items: center;
}
.ma-link svg {
    width: 14px;
    height: 14px;
    margin-left: 5px;
}
.mobile-app-link-wrap {
    max-width: 470px;
    margin: 0;
    width: 100%;
}
product-sticky-bar .mobile-app-link-wrap {
    display: none !important;
}
@media(max-width: 480px){
    button.ma-link {
        font-size: 11px;
        white-space: nowrap;
        padding: 6px 13px;
    }
}
</style>
<div class="mobile-app-link-wrap">
    <div class="ma-slide">
        <div class="ma-top">
            <div class="icon">
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.34256 0C5.44614 0 5.55252 0 5.65611 0C5.86887 0.065624 6.06484 0.154074 6.22721 0.316707C6.43717 0.527845 6.64994 0.733277 6.8627 0.944415C6.96908 1.04998 7.08946 1.08708 7.24063 1.0614C7.56538 1.01004 7.89012 0.961534 8.21487 0.930148C8.68519 0.884497 9.12751 1.1955 9.23669 1.66628C9.31228 1.98584 9.36547 2.31396 9.41586 2.63923C9.44386 2.82468 9.52504 2.95023 9.69302 3.03582C9.94497 3.16136 10.1885 3.29832 10.4349 3.43242C10.9668 3.7263 11.1432 4.28268 10.8828 4.83906C10.7568 5.10726 10.6309 5.37261 10.4993 5.63796C10.4293 5.77776 10.4293 5.91186 10.4993 6.05167C10.6309 6.31702 10.7568 6.58237 10.8828 6.85057C11.1432 7.40695 10.9668 7.96333 10.4349 8.25721C10.1829 8.39702 9.93097 8.53682 9.67342 8.66807C9.53064 8.74226 9.44946 8.84782 9.42426 9.0076C9.37947 9.28437 9.32348 9.56113 9.28429 9.83789C9.2003 10.4485 8.70478 10.8308 8.15608 10.7566C7.89292 10.7224 7.62977 10.6967 7.36941 10.6425C7.12865 10.594 6.93829 10.6339 6.76752 10.8308C6.59675 11.0277 6.40078 11.1989 6.21601 11.3815C5.78768 11.7952 5.20818 11.7952 4.77986 11.3815C4.56429 11.1732 4.34873 10.9592 4.13597 10.7481C4.03798 10.6511 3.9316 10.6026 3.79163 10.6254C3.46688 10.6739 3.14214 10.7224 2.81739 10.7623C2.33867 10.8223 1.87115 10.5027 1.75917 10.0291C1.68359 9.70379 1.63319 9.37282 1.58 9.0447C1.55201 8.8678 1.47642 8.74511 1.31685 8.66522C1.06209 8.53682 0.812935 8.39987 0.566577 8.26291C0.0374677 7.96047 -0.141702 7.4041 0.118654 6.84772C0.244632 6.57952 0.370611 6.31417 0.502188 6.04882C0.572176 5.90901 0.572176 5.77491 0.502188 5.6351C0.370611 5.36975 0.244632 5.1044 0.118654 4.8362C-0.141702 4.27982 0.0346681 3.72345 0.566577 3.42957C0.821333 3.28691 1.07889 3.1471 1.33645 3.01585C1.47642 2.94452 1.55201 2.8361 1.5772 2.68202C1.622 2.40526 1.67799 2.1285 1.71718 1.85174C1.80117 1.24115 2.29948 0.858818 2.84539 0.930148C3.10854 0.964387 3.3717 0.990066 3.62925 1.04428C3.87001 1.09278 4.06598 1.05569 4.23115 0.855965C4.33473 0.72757 4.46911 0.624854 4.58109 0.505019C4.79665 0.279615 5.02621 0.0713304 5.34256 0ZM8.0133 3.65212C8.0049 3.47807 7.94052 3.3725 7.81454 3.31258C7.67456 3.24696 7.54578 3.28405 7.40581 3.42671C5.98085 4.88185 4.55589 6.33414 3.13094 7.78643C3.10854 7.80925 3.08895 7.82923 3.06935 7.85205C2.92097 8.03751 2.99096 8.30286 3.21492 8.38275C3.3661 8.43696 3.48088 8.37704 3.58726 8.27147C5.02062 6.81063 6.45117 5.34978 7.88452 3.88893C7.90692 3.86611 7.93212 3.84614 7.94332 3.82046C7.97411 3.75769 7.99651 3.69206 8.0133 3.65212ZM4.17796 5.2756C4.84424 5.2756 5.38735 4.72207 5.39015 4.04586C5.39015 3.3725 4.83865 2.81042 4.17796 2.81042C3.51727 2.81042 2.96857 3.36965 2.96857 4.04586C2.96857 4.72493 3.50887 5.2756 4.17796 5.2756ZM6.82071 6.41118C6.15442 6.41118 5.61131 6.96755 5.61411 7.64377C5.61411 8.31427 6.17122 8.87921 6.8291 8.87636C7.49259 8.8735 8.0357 8.31427 8.0357 7.63806C8.0301 6.959 7.48979 6.40832 6.82071 6.41118Z" fill="#64112f"></path>
                    <path d="M8.01318 3.65211C7.99639 3.6892 7.97119 3.75768 7.9404 3.82045C7.9264 3.84613 7.9012 3.8661 7.88161 3.88892C6.45105 5.34977 5.0177 6.80776 3.58434 8.26861C3.47796 8.37703 3.36318 8.4341 3.21201 8.37989C2.99084 8.3 2.91806 8.03465 3.06643 7.84919C3.08603 7.82636 3.10842 7.80354 3.12802 7.78356C4.55298 6.33128 5.97793 4.87899 7.40289 3.4267C7.54566 3.28119 7.67164 3.2441 7.81162 3.31257C7.9404 3.37249 8.00479 3.47806 8.01318 3.65211Z" fill="#fff"></path>
                    <path d="M4.1779 5.2756C3.50881 5.2756 2.96851 4.72493 2.96851 4.04587C2.96851 3.36966 3.51721 2.81042 4.1779 2.81042C4.83859 2.81042 5.39009 3.37251 5.39009 4.04587C5.39009 4.72208 4.84418 5.2756 4.1779 5.2756ZM4.1947 3.48664C3.88955 3.47522 3.63479 3.72345 3.62639 4.03731C3.61799 4.3369 3.86715 4.60224 4.1639 4.6108C4.46625 4.61936 4.72381 4.37113 4.7322 4.05728C4.7434 3.75769 4.49704 3.49805 4.1947 3.48664Z" fill="#fff"></path>
                    <path d="M6.82072 6.41125C7.48981 6.41125 8.03291 6.95907 8.03291 7.63814C8.03291 8.31435 7.48981 8.87358 6.82632 8.87643C6.16843 8.87929 5.61413 8.3172 5.61133 7.64384C5.61133 6.96763 6.15444 6.41125 6.82072 6.41125ZM6.82632 8.20022C7.12867 8.19737 7.37503 7.94914 7.37783 7.64099C7.38063 7.3357 7.12307 7.0732 6.82072 7.07605C6.52397 7.07891 6.27202 7.33284 6.26922 7.63814C6.26642 7.94629 6.52117 8.20307 6.82632 8.20022Z" fill="#fff"></path>
                    <path d="M4.19464 3.48665C4.49699 3.49806 4.74334 3.7577 4.73215 4.05729C4.72095 4.36829 4.46619 4.61652 4.16384 4.61081C3.86709 4.60225 3.61514 4.3369 3.62634 4.03732C3.63473 3.72346 3.88949 3.47523 4.19464 3.48665Z" fill="#64112f"></path>
                    <path d="M6.82617 8.20012C6.52102 8.20297 6.26627 7.94618 6.26907 7.63804C6.27187 7.33559 6.52102 7.0788 6.82057 7.07595C7.12292 7.0731 7.38048 7.33274 7.37768 7.64089C7.37488 7.94903 7.12852 8.19727 6.82617 8.20012Z" fill="#64112f"></path>
                </svg>
            </div>
            <span>Download the App & Enjoy 
                {% comment %} an exclusive 10% off on your first app purchase. {% endcomment %}
            </span>
             <button onclick="redirectToApp()" class="ma-link">Download Now 
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" y1="15" x2="12" y2="3"/></svg>
             </button>
        </div>
        {% comment %} <div class="ma-bottom">
          Get ₹50 OFF on your first purchase. </div>  {% endcomment %}
    </div>
</div>




<script>
  function redirectToApp() {
    const userAgent = navigator.userAgent || navigator.vendor || window.opera;

    // iOS detection
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
      window.location.href = "https://apps.apple.com/in/app/charmacy-milano/id6752292994";
    }
    // Android detection
    else if (/android/i.test(userAgent)) {
      window.location.href = "https://play.google.com/store/apps/details?id=com.myshopify.charmacyindiastore.android&hl=en_IN";
    }
    // Fallback (desktop or other OS)
    else {
      // Optional: Redirect to a landing page or show a message
      alert("Please open this on your mobile device to download the app.");
    }
  }
</script>